@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&display=swap');

small {
    margin: 0px;
    font-size: 10px;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.content {
    background-color: black;
    color: white;
    margin-top: 20px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}