@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&display=swap');

small {
    margin: 0px;
    font-size: 0.75rem;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    line-height: 1.5;
}

.content {
    background-color: black;
    color: white;
    margin-top: 40px;
    padding: 20px 0;
    min-height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

@media (min-width: 768px) {
    .content {
        padding: 25px 0;
    }
    
    small {
        font-size: 0.85rem;
    }
}