<section class="container gap-5 d-flex">
    <div class="cont-img">
        <img src="./assets/Me.webp" class="img-fluid rounded-circle" alt="Foto de Alvaro Jimenez">
    </div>
    <div class="cont-text mt-4">
        <h2 class="title">¡<span class="initial-letter">H</span>ola! soy <span class="highlight">Alvaro Jimenez</span><br> Desarrollador BackEnd <span class="highlight">Java</span>.</h2>
        <p class="texto-pre">Cuento con más de 2 años de experiencia en el apasionante mundo del desarrollo de software, destacándome por crear sistemas robustos, eficientes y escalables utilizando Java. Me he consolidado como un desarrollador con fuerte orientación a la resolución de problemas, cuidando cada detalle técnico para asegurar soluciones alineadas con los más altos estándares de calidad y rendimiento.</p>
        <button class="btn  mt-1 rounded-pill fw-bold px-3 py-1 border-0 text-custom highlight button" (click)="downloadPDF()">Hoja de vida <img src="./assets/download-icon.svg" alt="" class="iconDownload"></button>
    </div>
</section>