<app-title titulo="Contacs" />
<div class="constacs ">
    <div class="content-contac">
        <a href="https://github.com/Alvarojj" target="_blank" rel="noopener noreferrer" class="contac">
            <img src="assets/github.svg" alt="">
            GitHub
        </a>
    </div>

    <div class="content-contac">
        <a href="https://www.linkedin.com/in/alvaro-jim%C3%A9nez/" target="_blank" rel="noopener noreferrer" class="contac">
            <img src="assets/linkedin.svg" alt="">
            Linkedln
        </a>
    </div>

    <div class="content-contac">
        <a class="contac">
            <img src="assets/gmail.svg" alt="">
            aejimenez19&#64;gmail.com
        </a>
    </div>
</div>
