@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.bg {
    background-image: linear-gradient(to top left, #3f2182, #13072e);
}

.presentation {
    flex-direction: column;
}
.letrainicial {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 28px;
}
.cont-img {
    order: -1;
    display: flex;
}

.img {
    max-width: 100%;
    margin: auto;
}

.title {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-style: normal;
}

.name {
    color: #B3AAFF;
}

.buton {
    margin-top: 5px;
    background-color: white;
    border-radius: 40px;
    font-weight: bold;
    padding: 5px 15px;
    border: none;
    color: #3f2182;
}
.buton:hover {
    cursor: pointer;
}
.buton:focus {
    outline: none;
}


.iconDownload {
    width: 24px;
    height: 24px;
    margin-left: 5px;
}

@media (min-width: 900px) {
    .presentation {
        flex-direction: row;
    }

    .cont-text {
        width: 60%;
        padding-left: 50px;
    }

    .cont-img {
        order: 0;
        display: flex;
    }

    .texto-pre {
        margin-top: 5px;
        font-size: 18px;
    }

    .img {
        margin: auto;
        width: 480px;
        height: 480px;
    }
    .letrainicial {
        font-family: "Poppins", sans-serif;
        font-weight: bold;
        font-style: normal;
        font-size: 34px;
    }
}

