<section class="d-flex p-auto p-4 bg presentation">
    <div class="cont-img">
        <img src="/assets/img2.png" class="img">
    </div>
    <div class="cont-text mt-4">
        <h2 class="title">Hello, I'm <span class="name">Alvaro Jimenez</span></h2>
        <h2 class="title">and welcome to my website</h2>
        <p class="texto-pre">With over a year of experience in the exciting world of programming, I have established myself as an expert in developing robust and efficient applications using Java. My professional journey is marked by a meticulous approach to problem-solving and the implementation of innovative solutions that meet the highest quality standards.
        </p>
        <button class="buton" (click)="downloadPDF()">Curriculum Vitae <img src="/assets/download-icon.svg" alt="" class="iconDownload"></button>
    </div>
</section>