<section class="d-flex p-auto p-4 bg presentation">
    <div class="cont-img">
        <img src="/assets/img2.png" class="img">
    </div>
    <div class="cont-text mt-4">
        <h2 class="title">¡<span class="letrainicial">H</span>ola! soy <span class="name">Alvaro Jimenez</span></h2>
        <h2 class="title">Desarrollador BackEnd <span class="name">Java</span>.</h2>
        <p class="texto-pre">Tengo mas de 2 año de experiencia laboral en el apasionante mundo de la programación, me he consolidado como un desarrollador de sistemas robustas y eficientes utilizando Java. Mi trayectoria profesional está marcada por un enfoque meticuloso en la resolución de problemas y la implementación de soluciones que cumplen con los estándares de calidad.</p>
        <button class="buton" (click)="downloadPDF()">Hoja de vida <img src="/assets/download-icon.svg" alt="" class="iconDownload"></button>
    </div>
</section>