@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.bg {
    background-image: linear-gradient(to top left, #3f2182, #13072e);
}

.presentation {
    flex-direction: column;
}

.cont-img {
    order: -1;
    display: flex;
}

.img {
    max-width: 100%;
    margin: auto;
}

.title {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-style: normal;
}

.name {
    color: #B3AAFF;
}

.buton {
    margin-top: 40px;
    background-color: white;
    border-radius: 40px;
}

.buton span {
    width: 40px;
    height: 10px;
    background-color: #13072e;
    border-radius: 5px;
    color: white;
}

@media (min-width: 900px) {
    .presentation {
        flex-direction: row;
    }

    .cont-text {
        width: 60%;
    }

    .cont-img {
        order: 0;
        display: flex;
    }

    .texto-pre {
        margin-top: 30px;
    }

    .img {
        margin: auto;
        width: 550px;
        height: 380px;
    }
}

@media (min-width: 1800px) {
    .cont-text {
        max-width: 1000px;
    }

    .title {
        font-size: 50px;
    }

    .texto-pre {
        font-size: 20px;
    }

    .buton {
        margin-top: 40px;
        background-color: white;
        border-radius: 40px;
        font-size: 20px;
    }

    .buton span {
        width: 70px;
        height: 50px;
        background-color: #13072e;
        border-radius: 5px;
        color: white;
    }

    .cont-img {
        display: flex;
        width: 100%;
    }

    .img {
        margin: auto;
        width: 750px;
        height: 580px;
    }

}