<section class="d-flex p-auto p-4 bg presentation">
    <div class="cont-text mt-4">
        <h2 class="title">Hello, I'm <span class="name">Alvaro Jimenez</span></h2>
        <h2 class="title">and welcome to my website</h2>
        <p class="texto-pre">I am a java developer, i have more than 1 year of experience Lorem ipsum dolor sit, amet
            consectetur adipisicing elit. Aliquid pariatur officia distinctio accusantium quia sed assumenda, eius
            maxime quam ipsa consequuntur dolores, aut, dolore quibusdam consequatur aspernatur animi minima eligendi?
        </p>
        <button class="buton btn">Introduction <span>-></span></button>
    </div>
    <div class="cont-img">
        <img src="./../../../assets/img.jpg" class="img">
    </div>
</section>