<div class="content">
    @if (img) {
        <h1 class="project-title">{{titleProject}}</h1>
        <img src="./assets/{{img}}" alt="Imagen del proyecto" class="img-projec">
    } @else {
        <h1 class="project-title1">{{titleProject}}</h1>
    }
    <p>{{description}}
      <a href={{url}} target="_blank" rel="noopener noreferrer">Ver proyecto</a>
      @if (linkCode) {
        | <a href={{linkCode}} target="_blank" rel="noopener noreferrer">Ver código</a>
      }
    </p>
    <div class="tech-badges-container">
        @for (tech of techs; track tech) {
            <app-tech-badge [title]="tech" />
        }
    </div>
</div>
