@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

h1 {
    text-align: center;
    font-size: 2rem;
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-style: normal;
}

span {
    color: #7db4b5;
}

@media (min-width: 576px) {
    h1 {
        font-size: 2.5rem;
    }
}

@media (min-width: 768px) {
    h1 {
        font-size: 3rem;
    }
}

@media (min-width: 900px) {
    h1 {
        font-size: 3.5rem;
    }
}

@media (min-width: 1200px) {
    h1 {
        font-size: 4rem;
    }
}