<app-title titulo = "Main projects"/>
<div class="project contenedor">
    <app-project titleProject="FactuExpress"
    description="Esta es una aplicación web diseñada para centralizar todas tus facturas digitales en un solo lugar. Los usuarios podrán recibir, almacenar y consultar las facturas generadas por diversos establecimientos. Con esta herramienta, podrás tener un control organizado de tus documentos fiscales, sin perder tiempo buscando en distintos correos electrónicos o plataformas, manteniendo todo a tu alcance con solo unos clics."
    img="FacutExpress.jpg"
    url="https://github.com/aejimenez19/FactuExpress"/>

    <app-project titleProject="GymVirtual"
    description="Es una aplicación web creada para ofrecer un gimnasio virtual personalizado, donde los usuarios pueden seleccionar entre una variedad de entrenadores registrados. A través de esta plataforma, podrás recibir rutinas de ejercicios adaptadas a tus objetivos y necesidades, permitiéndote entrenar desde casa de forma eficiente y sin complicaciones"
    img="GymVirtual.jpg"
    url="https://github.com/aejimenez19/Gym-virutal"/>
</div>
