<app-title titulo = "Main projects"/>
<div class="project contenedor">

    <app-project titleProject="Gestión de Préstamos Personales"
    description="API REST desarrollada en Java con Spring Boot bajo los principios de Clean Architecture, diseñada para gestionar clientes, préstamos y pagos de manera eficiente y escalable. El proyecto implementa persistencia con PostgreSQL y documentación interactiva mediante Swagger/OpenAPI"
    img="GestionPrestamosPersonalesApi.png"
    url="https://gestion-de-prestamos-personales.onrender.com/swagger-ui/index.html"
    linkCode="https://github.com/aejimenez19/Gestion-de-Prestamos-Personales"
    [techs]="['Java', 'Spring Boot', 'Clean Architecture', 'Swagger', 'OpenAPI']"/>

    <app-project titleProject="FactuExpress"
    description="Esta es una aplicación web diseñada para centralizar todas tus facturas digitales en un solo lugar. Los usuarios podrán recibir, almacenar y consultar las facturas generadas por diversos establecimientos. Con esta herramienta, podrás tener un control organizado de tus documentos fiscales, sin perder tiempo buscando en distintos correos electrónicos o plataformas, manteniendo todo a tu alcance con solo unos clics."
    img="FacutExpress.jpg"
    url="https://github.com/aejimenez19/FactuExpress"
    linkCode="https://github.com/aejimenez19/FactuExpress"
    [techs]="['Angular', 'TypeScript', 'HTML', 'CSS', 'JavaScript']"/>


    <app-project titleProject="GymVirtual"
    description="Es una aplicación web creada para ofrecer un gimnasio virtual personalizado, donde los usuarios pueden seleccionar entre una variedad de entrenadores registrados. A través de esta plataforma, podrás recibir rutinas de ejercicios adaptadas a tus objetivos y necesidades, permitiéndote entrenar desde casa de forma eficiente y sin complicaciones"
    img="GymVirtual.jpg"
    url="https://github.com/aejimenez19/Gym-virutal"
    linkCode="https://github.com/aejimenez19/Gym-virutal"
    [techs]="['Angular', 'TypeScript', 'HTML', 'CSS', 'JavaScript']"/>
</div>
