.contenedor {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
}

@media (min-width: 768px) {
    .contenedor {
        gap: 2.5rem;
    }
}

@media (min-width: 900px) {
    .contenedor {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
}

@media (min-width: 1200px) {
    .contenedor {
        gap: 40px;
    }
}