<app-title titulo = "Main projects"/>
<div class="project contenedor">
    <app-project titleProject="FactuExpress"
    description="It is a project where users can store their purchase invoices, divide them into categories to have them centralized and always at hand, the user can enter their invoice manually or by QR code"
    img="FacutExpress.jpg"
    url="https://github.com/Alvarojj/FactuExpress"/>

    <app-project titleProject="FactuExpress"
    description="It is a project where users can store their purchase invoices, divide them into categories to have them centralized and always at hand, the user can enter their invoice manually or by QR code"
    img="FacutExpress.jpg"
    url="https://github.com/Alvarojj/FactuExpress"/>

    <app-project titleProject="FactuExpress"
    description="It is a project where users can store their purchase invoices, divide them into categories to have them centralized and always at hand, the user can enter their invoice manually or by QR code"
    img="FacutExpress.jpg"
    url="https://github.com/Alvarojj/FactuExpress"/>
</div>
