<section class="container d-flex cont">
    <div class="cont-img">
       <img src="./../../assets/perfil.jpg" class="img rounded-circle border border-5" >
    </div>
    <div class="cont-text">
        <p>Hola, Soy Alvaro Jimenez</p>
        <h1>Desarrollador Backend</h1>
        <p>Con mas de un año de experiencia laboral</p>
        <div class="tecnologias">
            <app-tecnologias title="Java" img="java_logo_icon.png"/>
            <app-tecnologias title="Spring boot"/>
            <app-tecnologias title="Bases de datos"/>
        </div>
    </div>
</section>