<nav class="navbar navbar-expand-lg navbar-light navbarmargin">
    <a class="navbar-brand logo">NearNova</a>
    <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <img src="../../../assets/menu.svg" class="btn-menu">
    </button>
    <div class="collapse navbar-collapse items" id="navbarNav">
        <div class="navbar-nav">
            <a class="nav-link" href="#main">Home</a>
            <a class="nav-link" href="#works">Works</a>
            <a class="nav-link" href="#contact">Contacs</a>
        </div>
    </div>
</nav>