<nav class="container navbar navbar-expand-lg navbar-light justify-content-between">
    <a class="navbar-brand fs-4 fw-bold fst-normal logo">NearNova</a>
    <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <img src="./assets/menu.svg" class="btn-menu">
    </button>
    <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
        <div class="navbar-nav align-items-center d-flex gap-4">
            <a class="text-decoration-none color-text small" >Inicio</a>
            <a class="text-decoration-none color-text small" >Tecnologias</a>
            <a class="text-decoration-none color-text small" >proyectos</a>
            <a class="text-decoration-none color-text small" >experiencia</a>
            <a class="text-decoration-none color-text small" >Sobre mi</a>
            <a class="text-decoration-none color-text small" >Contacto</a>
        </div>
    </div>
</nav>