<section class="mt-4 mb-4">
    <h1>Introduction.</h1>
    <p class="mt-4 aboutme">I am 23 years old, I am a student at Simon Bolivar University, I am a BackEnd developer with
        knowledge of Java and Spring Boot as my main technology.
        My objective is to create robust and scalable technological solutions with best practices, making secure and
        effective server-side systems.</p>


    <h2>Main knowledge</h2>
    <div class="mt-4 knowledge">
        <ul>
            <li>
                <img src="./assets/java_logo_icon.png" alt="" class="">

            </li>
            <li>
                <img src="./assets/spring-boot-logo.png" alt="" class="">

            </li>
        </ul>
    </div>
    <h2>secondary knowledge</h2>


</section>