<section class="mt-4 mb-4">
    <h1 >Introduction.</h1>
    <p class="mt-4">I am 23 years old, I am a student at Simon Bolivar University, I am a BackEnd developer with knowledge of Java and Spring Boot as my main technology.
         My objective is to create robust and scalable technological solutions with best practices, making secure and effective server-side systems.</p>
    <div class="mt-4 m-auto d-flex flex-column">
        <app-cards [imgName]="'java_logo_icon.png'" />
        <app-cards [imgName]="'spring-boot-logo.png'" />
        <app-cards [imgName]="'seguridad.jpeg'" />
    </div>
</section>

